.main {
	width: 980px;
    margin: 0 auto;
    background-color: lavender;
}

.padding5{
	padding: 5px;
	width: 10%;
}

.banner {
	border-style: ridge;
	height: 200px;
}

.main-content {
    background-color: white;
}

.searchBox {
    float: right;
    width: 220px;
}

.clearFloat {
    clear: both;
}

.leftPadding25px {
 padding-left: 25px;
}